#root {
  font-family: Open Sans;
  background-color: #ffffff;
  color: #1c3e44;
  width: 100%;
  height: 100%;
}

.table_content_hover a {
  color: black;
  text-decoration: none;
}

.table_content_hover a:hover {
  background-color: rgba(175, 175, 175, 0.425);
  border-radius: 20px;
}

#navbar {
  overflow: hidden;
}
.active {
  text-decoration: underline;
}

.full-height {
  height: 100%;
}

/* shapes */

.circle_lg {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(110, 110, 110);
}
.circle_sm {
  height: 10px;
  width: 10px;
  top: 50%;
  border-radius: 50%;
  background-color: rgb(110, 110, 110);
}

.circle_lg-active {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #00c708;
}
.circle_sm-active {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #00c708;
}

.inactive_text {
  color: rgb(190, 190, 190);
}

/* new */
#navbar_airblock {
  border-radius: 20px;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.863);
  backdrop-filter: blur(6px);
}

.card {
  border: transparent;
}

.createwro_show {
  animation-name: _show;
  animation-duration: 0.5s;

  display: inline-block;
  animation-fill-mode: forwards;
}

/* The animation code */
@keyframes _show {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}

.createwro_hide {
  animation-name: _hide;
  animation-duration: 0.5s;

  display: inline-block;
  animation-fill-mode: forwards;
}

/* The animation code */
@keyframes _hide {
  from {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

.dot_red {
  height: 25px;
  width: 25px;
  background-color: #d20000;
  border-radius: 50%;
  display: inline-block;
}

.dot_yellow {
  height: 25px;
  width: 25px;
  background-color: #d3d600;
  border-radius: 50%;
  display: inline-block;
}

.dot_green {
  height: 25px;
  width: 25px;
  background-color: #00aa11;
  border-radius: 50%;
  display: inline-block;
}

.dot_orange {
  height: 25px;
  width: 25px;
  background-color: #c96100;
  border-radius: 50%;
  display: inline-block;
}

.checked {
  color: orange;
  font-size: 20px;
}
.unchecked {
  color: #adadadad;
  font-size: 20px;
}

.wrapper {
  border: 1px solid rgb(219, 219, 219);
}

.editor {
  background-color: rgb(255, 255, 255);
}

.nav-verticle:hover {
  background-image: linear-gradient(
    to right,
    rgba(153, 153, 153, 0.199) 1%,
    rgba(255, 255, 255, 0.13) 99%
  );
  cursor: pointer;
}


#side_nav_transition{
  width: 140px;
  transition: width 0.09s;
  transition-timing-function: linear;
}

#side_nav_transition:hover{
  width: 250px;
 
}
.carousel-control-prev-icon {
  
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgrey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgrey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-caption{

  right:15%;
  bottom:30%;
  left:15%;
  z-index:10;
  padding-top:20px;
  padding-bottom:20px;
  color:#1c3e44;
  text-align:left}

  .secondary{
    color: #ff5e10;
  }

  .primary{
    color: #1c3e44;
  }

 

.hoverNavItem{
  border-bottom: transparent;
  transition: 0.3s;
  width: 0px;
}
.hoverNavItem:hover{
  width: auto;
  border-bottom: #ff5e10 3px solid;
}

.hoverNavItemActive{
  border-bottom: #ff5e10 3px solid;
}


.overlay {
  position: relative; 
  bottom: 100%; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  z-index: 99;

  transition: .5s ease;
  opacity:0;
  color: white;
  line-height: normal;
  overflow-y: scroll;

  padding: 20px;
  cursor: pointer;

}

.container:hover .overlay {
  opacity: 1;
}

.sectionHeader{
  letter-spacing: 3px;
  font-size: 20px;
}


.jobbutton{
  border-bottom: #ff5e10 5px solid;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  text-transform: capitalize;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;

}
.jobbutton:hover{
  color: #ff5e10;

}

.footbutton{
  border-bottom: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  text-transform: capitalize;
  background-color: transparent;
}
.footbutton:hover{
  color: #ff5e10;
}

.projectImg{
  cursor: pointer;
  filter: grayscale();
  transition: 0.5s;
  width: 670px;
   position: absolute;
   align-items: center;
   border-radius: 10px;


}
.text{
  display: none;
  width: 490px;
  max-height: 300px;
  background-color: #cbcbcbbf;
  margin: 10px;
  position: absolute;
  transition: 0.5s;
  overflow: hidden;
    text-overflow: ellipsis;
  
  
}
.text:hover{
   display: inline-block;

  
}
.projectImg{
  min-height: 500px;
  min-width: 600px;
  max-width: 600px;
  max-height: 500px;
}
.projectImg:hover ~ .text{
  display: inline-block;
  
}
.projectImg:hover{
  filter: none;
}
.projectRow{
  min-height: 520px;
}
.projectRow1{
  min-height: 520px;
}



.followMeBar {
  position: sticky;
  top:10%;
  z-index: 1;
  background-color: white;
}

pre{
  font-family: Open Sans;
  white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div{
  overflow-wrap: break-word;
}
.cli1{
  display: none;
}

.clititle{
  height: 0%;
  transition: 0.5s;
  color: black;
}

.clititle:hover{
  height: 100%;
}


.hoverClients{
   filter: grayscale(100%);
 } 
.hoverClients:hover{
filter: grayscale(0%);
}

.mediac{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newsImg{
  max-height: 400px;
  max-width: 1000px;

}
.removeButton{
border-top: transparent;
border-left: transparent;
border-right: transparent;
border-color: grey;
  color: red;
  background-color: transparent;
}



/* new  */
.MuiGrid-root {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    font-family: Open Sans;
    color: #1c3e44;
    text-align: center!important;
    box-sizing: inherit;
    overflow-wrap: break-word;
    position: relative;
}

.TimelineEvent-container-4 {
    position: relative;
}

.Timeline-container-2 {
    flex: 1 1 auto;
    display: inline-flex;
}
.Timeline-container-2-block {
    flex: 1 1 auto;
    display: inline-block;
}
.TimelineEvent-icon-5 {
    top: 16px;
    left: 92.5px;
    color: #fff;
    position: absolute;
    font-size: 40px;
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.MuiTypography-caption {
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}



.slide-tagline {
    -webkit-text-stroke: 0.025em white;
    -webkit-text-fill-color: rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.25);

    font-weight: bold;
}

.loading{
  position: fixed;
  top: 50%;
  left:45%;
  transition: 1s;
  z-index: 99999;
}


.slideShow{
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 9999;
  transition: opacity 2s ease-in;
}



.mySlides {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.mySlides1 {
 
  transition: opacity 1s ease-in-out;
   height: 800px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 9999;
  transition: 2s;

}
.slide-tagline{
  transition: 1s;
}

.slideshow{
  width: 99%;
}

.nav1menue{
  display: inline;
}
.nav1menuebutton{
  display: none;
}
.nav1menuebutton1{
  display: none;
}
.aboutus{
  line-height: 1.8;
}
.promoters{
  height: 210px;
  width: 210px;
  border-style: solid;
  border-radius: 50%;
  border-color: #ff5e10;
  border-width: 3px;
}
.aboutusphoto{
  height: 300px;
}

.teamImage{
  height: 400px;
  width: 400px;
}
.tags{
  font-size: 55px;
  color: grey;
}

@media only screen and (max-width: 800px) {
  .tags{
    font-size: 40px;
  }
  .slideshow{
    width: 97%;
  }
  .mainlogo{
    margin-left: 10px;
  }
  .nav1menue{
    display: none;
  }
  .nav1menuebutton{
  display: inline;
  font-size: 34px;
  }
  .mySlides1 {
 
  transition: opacity 1s ease-in-out;
   height: 700px;
  background-repeat: no-repeat;
  background-size: 210% 100%;
  background-position: 40%;
  z-index: 9999;
  transition: 2s;

}
  .slide-tagline{
    font-size: 40px ;
    line-height: 0%;
    
  }
  .nav1menuebutton1{
  display: none;
  font-size: 34px;
}
.clientText{
  display: none;
}
.aboutus{
  line-height: 1.4;
}
.aboutusphoto{
  width: 400px;
  display: none;
}
.teamImage{
  height: 400px;
  width: 360px;

}
.projectImg{
  min-height: 350px;
  min-width: 400px;
  max-width: 400px;
  max-height: 350px;
}


.text{
display: inline-block;
  width: 380px;
  max-height: 330px;
  background-color: #cbcbcbbf;
  margin: 10px;
  position: absolute;
  transition: 0.5s;
  overflow: hidden;
    text-overflow: ellipsis;
  
  
}
.followMeBar {
  position: sticky;
  top:10%;
  z-index: 1;
  background-color: white;

}
.hoverClients{
  height: 80px;
}

}


