#root {
  font-family: Open Sans;
  background-color: #ffffff;
  color: #1c3e44;
  width: 100%;
  height: 100%;
}

.table_content_hover a {
  color: black;
  text-decoration: none;
}

.table_content_hover a:hover {
  background-color: rgba(175, 175, 175, 0.425);
  border-radius: 20px;
}

#navbar {
  overflow: hidden;
}
.active {
  text-decoration: underline;
}

.full-height {
  height: 100%;
}

/* shapes */

.circle_lg {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(110, 110, 110);
}
.circle_sm {
  height: 10px;
  width: 10px;
  top: 50%;
  border-radius: 50%;
  background-color: rgb(110, 110, 110);
}

.circle_lg-active {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #00c708;
}
.circle_sm-active {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #00c708;
}

.inactive_text {
  color: rgb(190, 190, 190);
}

/* new */
#navbar_airblock {
  border-radius: 20px;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.863);
  backdrop-filter: blur(6px);
}

.card {
  border: transparent;
}

.createwro_show {
  animation-name: _show;
  animation-duration: 0.5s;

  display: inline-block;
  animation-fill-mode: forwards;
}

/* The animation code */
@keyframes _show {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}

.createwro_hide {
  animation-name: _hide;
  animation-duration: 0.5s;

  display: inline-block;
  animation-fill-mode: forwards;
}

/* The animation code */
@keyframes _hide {
  from {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

.dot_red {
  height: 25px;
  width: 25px;
  background-color: #d20000;
  border-radius: 50%;
  display: inline-block;
}

.dot_yellow {
  height: 25px;
  width: 25px;
  background-color: #d3d600;
  border-radius: 50%;
  display: inline-block;
}

.dot_green {
  height: 25px;
  width: 25px;
  background-color: #00aa11;
  border-radius: 50%;
  display: inline-block;
}

.dot_orange {
  height: 25px;
  width: 25px;
  background-color: #c96100;
  border-radius: 50%;
  display: inline-block;
}

.checked {
  color: orange;
  font-size: 20px;
}
.unchecked {
  color: #adadadad;
  font-size: 20px;
}

.wrapper {
  border: 1px solid rgb(219, 219, 219);
}

.editor {
  background-color: rgb(255, 255, 255);
}

.nav-verticle:hover {
  background-image: linear-gradient(
    to right,
    rgba(153, 153, 153, 0.199) 1%,
    rgba(255, 255, 255, 0.13) 99%
  );
  cursor: pointer;
}


#side_nav_transition{
  width: 140px;
  transition: width 0.09s;
  transition-timing-function: linear;
}

#side_nav_transition:hover{
  width: 250px;
 
}
.carousel-control-prev-icon {
  
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgrey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgrey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-caption{

  right:15%;
  bottom:30%;
  left:15%;
  z-index:10;
  padding-top:20px;
  padding-bottom:20px;
  color:#1c3e44;
  text-align:left}

  .secondary{
    color: #ff5e10;
  }

  .primary{
    color: #1c3e44;
  }

 .hoverClients{
   filter: grayscale(100%);
 } 
.hoverClients:hover{
filter: grayscale(0%);
}

.hoverNavItem{
  border-bottom: transparent;
  transition: 0.3s;
  width: 0px;
}
.hoverNavItem:hover{
  width: auto;
  border-bottom: #1c3e44 3px solid;
}

.hoverNavItemActive{
  border-bottom: #1c3e44 3px solid;
}


.overlay {
  position: relative; 
  bottom: 100%; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  z-index: 99;

  transition: .5s ease;
  opacity:0;
  color: white;
  line-height: normal;
  overflow-y: scroll;

  padding: 20px;
  cursor: pointer;

}

.container:hover .overlay {
  opacity: 1;
}

.sectionHeader{
  letter-spacing: 3px;
  font-size: 20px;
}

.projects{
  background-image:url("https://images.hdqwalls.com/wallpapers/golden-gate-bridge-san-francisco-night-ds.jpg");

   height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 70%;

}
.jobbutton{
  border-bottom: #ff5e10 5px solid;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  text-transform: capitalize;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;

}
.jobbutton:hover{
  color: #ff5e10;

}

.footbutton{
  border-bottom: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  text-transform: capitalize;
  background-color: transparent;
}
.footbutton:hover{
  color: #ff5e10;
}

.projectImg{
  cursor: pointer;
  filter: grayscale();
  transition: 0.5s;
  width: 670px;
   position: absolute;
   align-items: center;

}
.text{
  display: none;
  width: 490px;
  max-height: 300px;
  background-color: #cbcbcbbf;
  margin: 10px;
  position: absolute;
  transition: 0.5s;
  overflow: hidden;
    text-overflow: ellipsis;
  
  
}
.text:hover{
   display: inline-block;

  
}
.projectImg:hover ~ .text{
  display: inline-block;
  
}
.projectImg:hover{
  filter: none;
}
.projectRow{
  min-height: 450px;
}



.followMeBar {

  position: sticky;
  top:10%;
  z-index: 1;
  background-color: white;
}

pre{
  font-family: Open Sans;
}








